@font-face {
  font-family: "Cambon";
  src: url("Cambon-Italic.woff2") format("woff2"),
    url("Cambon-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cambon";
  src: url("Cambon-Regular.woff2") format("woff2"),
    url("Cambon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cambon";
  src: url("Cambon-Medium.woff2") format("woff2"),
    url("Cambon-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cambon";
  src: url("Cambon-SemiBold.woff2") format("woff2"),
    url("Cambon-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MierB";
  src: url("MierB-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "MierB";
  src: url("MierB-Demi.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "MierB";
  src: url("MierB-Bold.woff2") format("woff2");
  font-weight: 800;
}

.cambon-font {
  font-family: "Cambon", serif;
}

.cambon-font-title {
  font-family: "Cambon", serif;
  font-weight: 600;
  letter-spacing: -0.07rem;
}

.mierb-font {
  font-family: "MierB", sans-serif;
}
